*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    height: 100%;
    width: 100%;
}

.main{
    height: 25vh;
    width: 100%;
    display: flex;
}

.container{
    margin-left: 13%;
    margin-right: 13%;
    margin-bottom: 1%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    /* background-color: rgba(0, 0, 0, 0.188); */
}

.first{
    display: flex;
    align-items: center;
    gap: 10px;
}

.second{
    /* background-color: aqua; */
    width: 75%;
    gap: 15px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.second p{
    font-size: 1.3vw;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}

.second p:hover,
.second p:active{
    border-bottom: 2px solid rgba(255, 166, 0, 0.621);
    color: orange;
    cursor: pointer;
}

.m{
    color: black;
    font-size: 3vw;
    letter-spacing: 1px;
}

.m1{
    font-size: 2vw;
    letter-spacing: 1px;
    color: rgba(0, 0, 0, 0.63);
}

.img{
    border-radius: 50%;
    height: 11vh;
    width: 5vw;
    background-color: rgba(0, 0, 0, 0.764);
    overflow: hidden;
}

.img img{
    object-fit: cover;
}

.btn{
    height: 40px;
    width: 120px;
    background-color: orange;
    border: none;
    color: white;
    border-radius: 5px;
    font-size: 1.2vw;
    text-align: center;
}

.btn:hover{
    cursor: pointer;
}

.second i{
    font-size: 2vw;
    display: none;
}

@media (max-width: 600px) {

    .img{
        width: 12vw;
    }

    .m{
        font-size: 6vw;
    }

    .m1{
        font-size: 4vw;
    }

    .container{
        margin-left: 10vw;
        margin-right: 0%;
    }

    .second p{
        display: none;
    }

    .second button{
        display: none;
    }

    .second i{
        display: block;
        font-size: 6vw;
        width: 100%;
        text-align: end;
    }
}